<div class="container">
  <div class="row">
    <h1>Characters for <%= @game.name %></h1>
    <ul class="nav nav-pills">
      <li><%= link_to "Create a Character", new_game_character_path(@game) %></li>
      <li><%= link_to "Back to Game", game_path(@game) %></li>
    </ul>
    <% @characters.each do |c| %>
      <div><%= link_to c.name, [:edit, @game,c] %></div>
    <% end %>
  </div>
</div>

