<div class="container main_content">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render partial: "/shared/errors", locals: { model: @attribute_group } %>
      <%= render partial: "form", locals: { game: @attribute_group.game } %>
    </div>
  </div>
</div>
