<% if !model.valid? && model.errors.full_messages_for(field).any? %>
  <ul class="alert alert-danger">
    <% model.errors.full_messages_for(field).each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
