<div id="header" class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to root_path do %>
        <%= image_tag("logo_full.png", class:"logo_full", alt: "logo") %>
      <% end %>
    </div>
    <div class="col-sm-8 pull-right">
      Signed In As: <%= current_user.email %>
    </div>
  </div>
</div>
