
<br />
<br />
<h1><%= link_to "Create a Game", new_game_path %></h1>

<div class="container main_content">
  <div class="row">
    <div class="col-sm-8">
      <img src="http://placehold.it/600x400">
    </div>
    <div class="col-sm-4">
      <p>Mauris a viverra erat. Nunc sagittis pharetra placerat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed lectus neque. Donec posuere tristique sapien in dapibus. Integer volutpat justo nulla, finibus porttitor nulla vestibulum in. Sed ultricies, velit in feugiat faucibus, massa diam eleifend quam, in luctus quam leo eu purus. Phasellus condimentum consequat urna. Phasellus neque neque, tempus interdum nisl sed, auctor fermentum mauris. Aliquam eu nibh magna. Donec fermentum quam nunc, sit amet vulputate metus pretium ut. Maecenas tortor tortor, ultrices sit amet vulputate a, blandit quis nisi. Maecenas gravida finibus hendrerit.
</p>
<p>
Nunc sit amet tortor est. Suspendisse sit amet porttitor nisl. Ut quis dolor eu purus dictum ornare. Donec ac nibh vitae leo pellentesque accumsan. Pellentesque eget semper neque. Suspendisse convallis, velit at cursus fermentum, ligula lectus condimentum purus, eget dignissim sem arcu eget est. Phasellus vehicula pulvinar mi ac venenatis. Sed venenatis metus eget pellentesque tempus. Curabitur posuere odio id turpis fringilla, sit amet tempus metus ultrices.
</p></span>
      <%= link_to "Create a Game", new_game_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

