<div class="attribute_item">
  <span class="attribute_name"><%= link_to "#{attribute.name}", "#", class: "attribute_edit", data: { id: "#{attribute.id}" } %></span>
  <span class="attribute_summary"><%= attribute.description %></span>
</div>