<div class="attribute_item">
  <span class="attribute_name">
  	<%= link_to "#{attribute.name}", edit_game_game_attribute_path(params[:id], attribute), class: "attribute_edit", data: { id: "#{attribute.id}", toogle: "modal", target: "#attribute#{attribute.id}" } %>
  </span>
  <span class="attribute_summary">
  	<%= attribute.description %>
  </span>
</div>