<p><%= attribute.name %>(<%= attribute.min_number %>-<%= attribute.max_number %>)</p>
<% if attribute.children.any? %>
  <ul>
    <% attribute.children.each do |a| %>
      <%= render partial: a.type.underscore, locals: { attribute: a } %>
    <% end %>
  </ul>
<% end %>
