@import "normalize";

@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass";


$font-stack:      'Ubuntu', Helvetica, Verdana, "Lucida Grande", sans-serif;
$primary-color:   #333;
$default_padding: 15px;
$silver: #a4a6a6;
$smoke: #d9d9d9;
$lightgray: #f2f2f2;
$red: #cd0a1b;
$almostblack: #0f0f0f;

*, *:before, *:after {box-sizing:  border-box !important;}


html {
	padding:20px;
	margin: 0 auto 0 auto;
}

body {
  font: $font-stack;
  color: $almostblack;
}

label{
  font-style:italic;
  color:$red;
}

.header_info {
  color:$almostblack;
  font-size:.5em;
  display:inline;
}

.inline_nav_link {
  font-size:1em;
}

a {
  color:$red;
}

a:hover {
  color:$red;
}

.btn-primary {
  background-color: $red;
  border-color:$red;
}

.btn-primary:hover {
  background-color: $red;
  border-color:$red;
}

h5 {
  color:#999;
}

#header {
  background-color:transparent;
  color:$red;
  heigh:75px;
  padding:$default_padding;
  font-size:28px;
  border-bottom:1px solid $red;
  margin-bottom:20px;
}

#header img {
  vertical-align:middle;
}

.gameheader {
  padding:20px 0px;
  margin-bottom:20px;
}

.gameheader h1{
  margin:0px;
  color:$red;
}


.logo {
  height:40px;
  width:40px;
  vertical-align:middle;
  margin-right:10px;
}

.logo_full {
  height:40px;
  width:288px;
}

img.info {
  height:25px;
  width:25px;
  vertical-align:middle;
}

img.info_small {
  height:15px;
  width:15px;
  vertical-align:middle;
  margin-left:5px;
}

.field_error{
  list-style:none;
  padding:5px 0px;
}

.field_error li {
  color:$red;
}

.main_content {
  padding:$default_padding;
}

.ability_group {
  border:solid 1px $almostblack;
  border-radius: 5px;
  margin-bottom:30px;
  padding:0px;
}

.ability_group h4 {
  font-style:italic;
  padding:10px 15px;
  background-color:$almostblack;
  color:white;
  margin:0px;
}

.ability_group h4 img {
  float:right;
}

.ability_group div.attribute_list {
  list-style:none;
  height:450px;
  overflow:scroll;
}

.attribute_item {
  border-top:solid 1px $red;
  padding:$default_padding;
  text-align: left;
}

.attribute_item a {
  color: $red;
}

.attribute_item:hover, .attribute_item:hover .attribute_name, .attribute_item:hover .attribute_summary {
  background-color: $lightgray;
}


.attribute_name a {
  display:block;
  font-size:1.5em;
}

.attribute_summary {
  font-size:.9em;
  font-style:italic;
  color:#999;
}

.addgroup .ability_group {
  height:490px;
}

.addgroup .ability_group h4{
  background-color:transparent;
  color:#999;
}

.addgroup .ability_group a {
  height:100%;
  width:100%;
  display:block;
  text-align:center;
  vertical-align:middle;
}

.addgroup .ability_group img {
  height:75px;
  width:75px;
  margin-top:150px;
}

.editattribute_form {
  display:none;
  position:absolute;
  height: 400px;
  width: 300px;
  
}

label.big_label {
  font-size:1.2em;
}

.group_row{

}


/* ==================  Games List Page ======================= */

.game_list {
  padding:$default_padding;
  background-color:$smoke;
  border-radius:5px;
  h3 {
    float:left;
    margin:5px 0 0 0;
  }
}
.small_label {
  display:block;
  margin:10px 20px 30px 20px;
  font-style:italic;
  color:$silver;
}



/* ==================  Character Sheet ======================= */


.cs_ability_group{
  margin-bottom: 10px;
  h4{
    padding:5px 20px;
    background-color:$smoke;
    margin:0px;
    color:$almostblack;
    font-size:1.5em;
    font-style:italic;
    .btn-link{
      color:$red;
    }
  }
  .game_attribute {
    background:$lightgray;
    border-radius: 5px;
    float:left;
    margin:10px;
    padding:$default_padding;
    padding-bottom:0;
    min-height:130px;
    input {
      height:60px;
      width:100px;
      font-size:2em;
    }
    select {
      width:150px;
      height:60px;
    }
    textarea {
      max-width:425px;
      min-width: 400px;
      height:80px;
    }
  }
  h5{
    font-size:1em;
    color:#333;
    margin-top:0px;
    padding-left:3px;
  }
  .attribute_group_container {
    text-align:center;
    width:100%;
  }
  .attribute_group {
    display:inline-block;
    margin-right:3px;
    margin-left:3px;
    margin-bottom:0px;
    label {
      font-size:.8em;
      color: $silver;
    }
    label.h5{
      display:block;
      font-size:1em;
      font-style:normal;
      font-weight:bold;
      color:#333;
      margin-top:0px;
      padding-left:3px;
    }
  }
}

#isotope:after {
  content: '';
  display: block;
  clear: both;
}
/**/

#overlay {
  display:none;
}
