<div class="modal-dialog modal-lg edit-attribute">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myLargeModalLabel">
        Create A New Attribute!
      </h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
          	<% if params[:type].present? %>
          		<%= render partial: "#{params[:type].underscore}_new",locals: { game: params[:game_id], type: params[:type], attribute_group_id: params[:attribute_group_id], game_attribute_id: params[:game_attribute_id]  } %>
          	<% else %>
            	<%= render partial: "new_attribute", locals: { attribute_group_id: params[:attribute_group_id]} %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-default finished" data-dismiss="modal">
            	<span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>