<div class="modal-dialog modal-lg edit-attribute">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myLargeModalLabel">
        Create A New Attribute!
      </h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
          	<% if @game_attribute.present? %>
          		<%= render partial: "#{@game_attribute.type.underscore}_new",locals: { game: @game, attribute: @game_attribute } %>
          	<% else %>
            	<%= render partial: "new_attribute" %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-default finished" data-dismiss="modal">
            	<span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>